# Combinaciones

Hay tres técnicas para combinar la información de varios `DataFrames`: 

* Concatenación
* Fusión
* Unión

## Concatenación

Esta técnica consiste básicamente en juntar las filas de los `DataFrames`, esto requiere que las dimensiones de los diferentes `df` concuerden:

In [2]:
import pandas as pd

In [10]:
df1 = pd.DataFrame({'A':['1A','2A'], 'B':['1B','2B'], 'C':['1C','2C']}) 

df1

    A   B   C
0  1A  1B  1C
1  2A  2B  2C

In [11]:
df2 = pd.DataFrame({'A':['3A','4A','5A'], 'B':['3B','4B','5B'], 'C':['3C','4C','5C']}) 

df2

    A   B   C
0  3A  3B  3C
1  4A  4B  4C
2  5A  5B  5C

In [12]:
df3 = pd.DataFrame({'A':['6A','7A'], 'B':['6B','7B'], 'C':['6C','7C']}, index=[6, 7]) 

df3

    A   B   C
6  6A  6B  6C
7  7A  7B  7C

In [13]:
# Concatenar filas
concated_df = pd.concat([df1, df2, df3])
concated_df

    A   B   C
0  1A  1B  1C
1  2A  2B  2C
0  3A  3B  3C
1  4A  4B  4C
2  5A  5B  5C
6  6A  6B  6C
7  7A  7B  7C

In [ ]:
concated_df.reset_index(drop=True, inplace=True)

In [ ]:
concated_df

In [ ]:
pd.concat((df1, df2, df3), axis=0, ignore_index=True)

Un listado de los métodos de unión se puede encontrar en la [documentación sobre concat](https://pandas.pydata.org/docs/reference/api/pandas.concat.html).

## Fusión

Esta técnica permite fusionar los `DataFrames` utilizando la misma lógica que se utiliza en `SQL` para unir tablas, por ejemplo una combinación de dos dataframes a partir de una columna común:

In [3]:
df1 = pd.DataFrame({'clave': ['K1','K2','K3'], 'A': ['1A','2A','3A'], 'B': ['1B','2B','3B']}, 
                   index = ['papa', 'ganso', 'azul'])

df1

      clave   A   B
papa     K1  1A  1B
ganso    K2  2A  2B
azul     K3  3A  3B

In [4]:
df2 = pd.DataFrame({'C': ['1C','2C','3C'], 'clave': ['K1','K2','K3'], 'D': ['1D','2D','3D'], 
                    'A': ['1A','2A','3A']}, 
                   index = [5, 6, 7])

df2

    C clave   D   A
5  1C    K1  1D  1A
6  2C    K2  2D  2A
7  3C    K3  3D  3A

In [6]:
# Fusionar columnas a partir de una columna común
pd.merge(df1, df2, on=['clave', 'A'])

  clave   A   B   C   D
0    K1  1A  1B  1C  1D
1    K2  2A  2B  2C  2D
2    K3  3A  3B  3C  3D

Un listado de los métodos de fusión se puede encontrar en la [documentación sobre merge](https://pandas.pydata.org/docs/reference/api/pandas.merge.html).

## Unión

Esta técnica es muy conveniente para combinar las columnas de dos `dataframes` indexados:

In [20]:
df1 = pd.DataFrame({'A': ['1A','2A','3A'], 'B': ['1B','2B','3B']}, index=['K1','K2','K3'])

df1

     A   B
K1  1A  1B
K2  2A  2B
K3  3A  3B

In [21]:
df2 = pd.DataFrame({'C': ['1C','2C','3C'], 'D': ['1D','2D','3D']}, index=['K1','K2','K3'])

df2

     C   D
K1  1C  1D
K2  2C  2D
K3  3C  3D

In [22]:
# Unir columnas mediante los índices
df1.join(df2)

     A   B   C   D
K1  1A  1B  1C  1D
K2  2A  2B  2C  2D
K3  3A  3B  3C  3D

Un listado de los métodos de unión se puede encontrar en la [documentación sobre join](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html).