# Entradas y salidas

In [1]:
import numpy as np
import pandas as pd

# Definimos un dataframe con datos de ejemplos
df = pd.DataFrame(np.random.randn(10, 5), columns=["A", "B", "C", "D", "E"])

df

          A         B         C         D         E
0  0.423316  1.128516  0.143195 -1.412365  0.948779
1  0.988903 -1.822290  0.889723 -0.996754 -0.951893
2 -0.062858 -0.587966 -0.543627 -0.384588  1.262243
3  2.089130 -0.500271 -1.090680 -0.335303 -1.062144
4 -1.081333 -1.590270  1.355750 -0.348654 -0.465290
5  0.013306  0.176789 -1.237786 -0.411910  2.284914
6 -0.306311  2.023690  0.912722  0.474339  0.656709
7  0.562535  0.028841 -1.126961  0.246404  1.175491
8 -0.652287  0.982229  1.177281 -0.735292  2.597402
9  0.694994 -0.541511 -0.066688  0.335089  0.345040

## CSV

### Guardar a CSV

In [6]:
df.to_csv('datos.csv', index=False)

NameError: name 'df' is not defined

In [7]:
# Borramos el df de la memoria
del(df)

NameError: name 'df' is not defined

### Cargar desde CSV

In [9]:
df = pd.read_csv('datos.csv')

df

          A         B         C         D         E
0  0.423316  1.128516  0.143195 -1.412365  0.948779
1  0.988903 -1.822290  0.889723 -0.996754 -0.951893
2 -0.062858 -0.587966 -0.543627 -0.384588  1.262243
3  2.089130 -0.500271 -1.090680 -0.335303 -1.062144
4 -1.081333 -1.590270  1.355750 -0.348654 -0.465290
5  0.013306  0.176789 -1.237786 -0.411910  2.284914
6 -0.306311  2.023690  0.912722  0.474339  0.656709
7  0.562535  0.028841 -1.126961  0.246404  1.175491
8 -0.652287  0.982229  1.177281 -0.735292  2.597402
9  0.694994 -0.541511 -0.066688  0.335089  0.345040

## JSON

### Guardar a JSON

In [10]:
df.to_json('datos.json')

In [11]:
# Borramos el df de la memoria
del(df)

### Cargar desde JSON

In [12]:
df = pd.read_json('datos.json')

df

          A         B         C         D         E
0  0.423316  1.128516  0.143195 -1.412365  0.948779
1  0.988903 -1.822290  0.889723 -0.996754 -0.951893
2 -0.062858 -0.587966 -0.543627 -0.384588  1.262243
3  2.089130 -0.500271 -1.090680 -0.335303 -1.062144
4 -1.081333 -1.590270  1.355750 -0.348654 -0.465290
5  0.013306  0.176789 -1.237786 -0.411910  2.284914
6 -0.306311  2.023690  0.912722  0.474339  0.656709
7  0.562535  0.028841 -1.126961  0.246404  1.175491
8 -0.652287  0.982229  1.177281 -0.735292  2.597402
9  0.694994 -0.541511 -0.066688  0.335089  0.345040

## Excel

Necesitamos instalar el módulo `openpyxl` para generar y leer este formato:

    pip install openpyxl

In [ ]:
!pip install openpyxl

### Guardar a Excel

In [14]:
df.to_excel('datos.xlsx', sheet_name='Sheet1', index=False)

In [15]:
# Borramos el df de la memoria
del(df)

### Cargar desde Excel

In [16]:
df = pd.read_excel('datos.xlsx', sheet_name='Sheet1')

df

          A         B         C         D         E
0  0.423316  1.128516  0.143195 -1.412365  0.948779
1  0.988903 -1.822290  0.889723 -0.996754 -0.951893
2 -0.062858 -0.587966 -0.543627 -0.384588  1.262243
3  2.089130 -0.500271 -1.090680 -0.335303 -1.062144
4 -1.081333 -1.590270  1.355750 -0.348654 -0.465290
5  0.013306  0.176789 -1.237786 -0.411910  2.284914
6 -0.306311  2.023690  0.912722  0.474339  0.656709
7  0.562535  0.028841 -1.126961  0.246404  1.175491
8 -0.652287  0.982229  1.177281 -0.735292  2.597402
9  0.694994 -0.541511 -0.066688  0.335089  0.345040

## HTML

Podemos extraer información directamente desde tablas de páginas web a partir de la URL. 

Esto se consigue haciendo web scrapping con los módulos `lxml` y `BeautifulSoup4`, por lo que necesitamos instalarlos:

    pip install lxml BeautifulSoup4

In [ ]:
!pip install lxml BeautifulSoup4

Una vez instalado `lxml` y `BeautifulSoup4` reiniciamos el kernel (botón girando al lado de stop) y ya estaremos listos:

In [17]:
# Realizamos un scrapping de una tabla de la wikipedia
df = pd.read_html('https://web.archive.org/web/20220717170349/https://en.wikipedia.org/wiki/List_of_countries_by_past_fertility_rate')

In [25]:
df

[      0     1     2
 0   Jun   JUL   Dec
 1   NaN    17   NaN
 2  2021  2022  2023,
                                                     0          1          2   \
 0    Fertility rate per woman Country/dependent ter...        NaN        NaN
 1                          Country/dependent territory  1950–1955  1955–1960
 2                                          Afghanistan       7.45       7.45
 3                                              Albania       6.23       6.55
 4                                              Algeria       7.28       7.38
 ..                                                 ...        ...        ...
 199                                  Western Sahara[7]       6.34       6.42
 200                                              Yemen       7.35       7.40
 201                                             Zambia       6.70       6.95
 202                                           Zimbabwe       6.80       7.00
 203                                              World       4.96       4.89

             3          4          5          6          7          8   \
 0          NaN        NaN        NaN        NaN        NaN        NaN
 1    1960–1965  1965–1970  1970–1975  1975–1980  1980–1985  1985–1990
 2         7.45       7.45       7.45       7.45       7.45       7.45
 3         6.23       5.26       4.60       3.90       3.41       3.15
 4         7.65       7.65       7.57       7.18       6.32       5.30
 ..         ...        ...        ...        ...        ...        ...
 199       6.53       6.60       6.57       6.23       5.33       4.60
 200       7.60       7.80       7.90       8.60       8.80       8.80
 201       7.25       7.30       7.40       7.25       6.90       6.60
 202       7.30       7.40       7.40       7.30       6.74       5.66
 203       5.03       4.92       4.46       3.87       3.60       3.44

             9          10         11         12         13
 0          NaN        NaN        NaN        NaN        NaN
 1    1990–1995  1995–2000  2000–2005  2005–2010  2010–2015
 2         7.48       7.65       7.18       6.37       5.26
 3         2.79       2.38       1.95       1.64       1.71
 4         4.12       2.88       2.38       2.72       2.96
 ..         ...        ...        ...        ...        ...
 199       4.00       3.40       2.85       2.55       2.60
 200       8.20       6.80       5.90       5.00       4.40
 201       6.30       6.10       5.95       5.60       5.20
 202       4.77       4.20       4.00       4.00       4.00
 203       3.02       2.75       2.63       2.57       2.52

 [204 rows x 14 columns],
     Country/dependent territory  1950–1955  1955–1960  1960–1965  1965–1970  \
 0                   Afghanistan       7.45       7.45       7.45       7.45
 1                       Albania       6.23       6.55       6.23       5.26
 2                       Algeria       7.28       7.38       7.65       7.65
 3                        Angola       7.30       7.35       7.60       7.60
 4           Antigua and Barbuda       4.50       4.50       4.30       4.00
 ..                          ...        ...        ...        ...        ...
 197           Western Sahara[7]       6.34       6.42       6.53       6.60
 198                       Yemen       7.35       7.40       7.60       7.80
 199                      Zambia       6.70       6.95       7.25       7.30
 200                    Zimbabwe       6.80       7.00       7.30       7.40
 201                       World       4.96       4.89       5.03       4.92

      1970–1975  1975–1980  1980–1985  1985–1990  1990–1995  1995–2000  \
 0         7.45       7.45       7.45       7.45       7.48       7.65
 1         4.60       3.90       3.41       3.15       2.79       2.38
 2         7.57       7.18       6.32       5.30       4.12       2.88
 3         7.60       7.60       7.40       7.35       7.10       6.75
 4         3.26       2.24       2.14       2.07       2.09       2.31
 ..         ...        ...        ...        ...        ...        ...
 197       6.57       6.23       5.33       4.60       4.00       3.40
 198       7.90       8.60       8.80       8.80       8.20       6.80
 199       7.40       7.25       6.90       6.60       6.30       6.10
 200       7.40       7.30       6.74       5.66       4.77       4.20
 201       4.46       3.87       3.60       3.44       3.02       2.75

      2000–2005  2005–2010  2010–2015
 0         7.18       6.37       5.26
 1         1.95       1.64       1.71
 2         2.38       2.72       2.96
 3         6.55       6.35       5.95
 4         2.27       2.17       2.10
 ..         ...        ...        ...
 197       2.85       2.55       2.60
 198       5.90       5.00       4.40
 199       5.95       5.60       5.20
 200       4.00       4.00       4.00
 201       2.63       2.57       2.52

 [202 rows x 14 columns],
                                                    0          1          2   \
 0   Fertility rate per woman Region 1950–1955 1955...        NaN        NaN
 1                                              Region  1950–1955  1955–1960
 2                                              Africa       6.62       6.66
 3                                                Asia       5.80       5.56
 4                               Australia/New Zealand       3.27       3.53
 5                                           Caribbean       5.27       5.19
 6                                     Central America       6.76       6.81
 7                                        Central Asia       4.86       5.32
 8                                      Eastern Africa       7.05       7.05
 9                                        Eastern Asia       5.56       4.98
 10                                     Eastern Europe       2.92       2.82
 11                                             Europe       2.66       2.66
 12                                      Latin America       5.87       5.88
 13                                          Melanesia       6.30       6.34
 14                                         Micronesia       6.25       6.42
 15                                      Middle Africa       6.08       6.11
 16                                    Northern Africa       6.80       6.87
 17                                      North America       3.34       3.61
 18                                    Northern Europe       2.32       2.51
 19                                            Oceania       3.84       4.06
 20                                          Polynesia       6.78       6.86
 21                                      South America       5.67       5.67
 22                                     Southeast Asia       5.93       6.12
 23                                    Southern Africa       6.06       6.07
 24                                      Southern Asia       6.04       6.06
 25                                    Southern Europe       2.68       2.62
 26                                 Sub-Saharan Africa       6.57       6.60
 27                                     Western Africa       6.56       6.63
 28                                       Western Asia       6.15       6.00
 29                                     Western Europe       2.65       2.47

            3          4          5          6          7          8   \
 0         NaN        NaN        NaN        NaN        NaN        NaN
 1   1960–1965  1965–1970  1970–1975  1975–1980  1980–1985  1985–1990
 2        6.72       6.72       6.71       6.64       6.48       6.18
 3        5.81       5.73       5.03       4.10       3.70       3.50
 4        3.38       2.96       2.59       2.02       1.92       1.89
 5        5.48       5.00       4.37       3.62       3.41       3.13
 6        6.75       6.68       6.55       5.49       4.60       3.99
 7        5.57       5.16       5.02       4.51       4.13       4.00
 8        7.11       7.11       7.14       7.10       7.02       6.80
 9        5.53       5.53       4.36       2.86       2.48       2.59
 10       2.43       2.15       2.14       2.07       2.08       2.09
 11       2.57       2.37       2.17       1.98       1.88       1.81
 12       5.89       5.53       5.03       4.48       3.96       3.46
 13       6.24       6.02       5.82       5.56       5.19       4.74
 14       6.46       5.84       5.27       4.80       4.40       4.09
 15       6.24       6.35       6.50       6.65       6.73       6.76
 16       6.94       6.83       6.52       6.18       5.74       5.11
 17       3.28       2.55       2.02       1.77       1.79       1.88
 18       2.71       2.49       2.06       1.80       1.80       1.85
 19       3.94       3.55       3.21       2.73       2.60       2.51
 20       6.82       6.39       5.74       5.23       4.79       4.37
 21       5.66       5.22       4.60       4.24       3.80       3.30
 22       6.09       5.91       5.48       4.81       4.20       3.58
 23       6.03       5.86       5.60       5.19       4.75       4.15
 24       6.07       5.94       5.67       5.31       5.03       4.57
 25       2.70       2.68       2.56       2.24       1.83       1.56
 26       6.67       6.70       6.77       6.78       6.70       6.49
 27       6.80       6.91       6.87       6.67       6.41       6.16
 28       5.73       5.36       5.00       4.51       4.03       3.60
 29       1.96       1.65       1.62       1.57       1.49       1.52

            9          10         11         12         13
 0         NaN        NaN        NaN        NaN        NaN
 1   1990–1995  1995–2000  2000–2005  2005–2010  2010–2015
 2        5.72       5.34       5.08       4.89       4.72
 3        2.92       2.56       2.41       2.30       2.20
 4        1.90       1.82       1.80       1.99       1.91
 5        2.83       2.64       2.49       2.38       2.28
 6        3.50       3.09       2.80       2.54       2.38
 7        3.57       2.89       2.51       2.66       2.71
 8        6.41       6.12       5.76       5.35       4.89
 9        1.87       1.51       1.52       1.56       1.59
 10       1.63       1.30       1.26       1.42       1.57
 11       1.57       1.43       1.43       1.55       1.60
 12       3.06       2.76       2.48       2.26       2.14
 13       4.50       4.40       4.16       3.93       3.67
 14       3.74       3.44       3.15       3.05       3.00
 15       6.67       6.52       6.39       6.24       5.94
 16       4.21       3.47       3.15       3.09       3.31
 17       2.00       1.95       1.99       2.01       1.85
 18       1.80       1.70       1.66       1.85       1.85
 19       2.49       2.46       2.44       2.53       2.41
 20       3.96       3.55       3.32       3.17       2.97
 21       2.92       2.64       2.35       2.13       2.03
 22       3.11       2.69       2.53       2.42       2.35
 23       3.50       3.09       2.85       2.71       2.64
 24       4.04       3.61       3.19       2.85       2.54
 25       1.42       1.34       1.37       1.44       1.42
 26       6.16       5.90       5.65       5.40       5.10
 27       5.95       5.75       5.53       5.20       4.88
 28       3.23       3.02       2.90       2.74       2.61
 29       1.59       1.64       1.67       1.69       1.71  ,
                    Region  1950–1955  1955–1960  1960–1965  1965–1970  \
 0                  Africa       6.62       6.66       6.72       6.72
 1                    Asia       5.80       5.56       5.81       5.73
 2   Australia/New Zealand       3.27       3.53       3.38       2.96
 3               Caribbean       5.27       5.19       5.48       5.00
 4         Central America       6.76       6.81       6.75       6.68
 5            Central Asia       4.86       5.32       5.57       5.16
 6          Eastern Africa       7.05       7.05       7.11       7.11
 7            Eastern Asia       5.56       4.98       5.53       5.53
 8          Eastern Europe       2.92       2.82       2.43       2.15
 9                  Europe       2.66       2.66       2.57       2.37
 10          Latin America       5.87       5.88       5.89       5.53
 11              Melanesia       6.30       6.34       6.24       6.02
 12             Micronesia       6.25       6.42       6.46       5.84
 13          Middle Africa       6.08       6.11       6.24       6.35
 14        Northern Africa       6.80       6.87       6.94       6.83
 15          North America       3.34       3.61       3.28       2.55
 16        Northern Europe       2.32       2.51       2.71       2.49
 17                Oceania       3.84       4.06       3.94       3.55
 18              Polynesia       6.78       6.86       6.82       6.39
 19          South America       5.67       5.67       5.66       5.22
 20         Southeast Asia       5.93       6.12       6.09       5.91
 21        Southern Africa       6.06       6.07       6.03       5.86
 22          Southern Asia       6.04       6.06       6.07       5.94
 23        Southern Europe       2.68       2.62       2.70       2.68
 24     Sub-Saharan Africa       6.57       6.60       6.67       6.70
 25         Western Africa       6.56       6.63       6.80       6.91
 26           Western Asia       6.15       6.00       5.73       5.36
 27         Western Europe       2.65       2.47       1.96       1.65

     1970–1975  1975–1980  1980–1985  1985–1990  1990–1995  1995–2000  \
 0        6.71       6.64       6.48       6.18       5.72       5.34
 1        5.03       4.10       3.70       3.50       2.92       2.56
 2        2.59       2.02       1.92       1.89       1.90       1.82
 3        4.37       3.62       3.41       3.13       2.83       2.64
 4        6.55       5.49       4.60       3.99       3.50       3.09
 5        5.02       4.51       4.13       4.00       3.57       2.89
 6        7.14       7.10       7.02       6.80       6.41       6.12
 7        4.36       2.86       2.48       2.59       1.87       1.51
 8        2.14       2.07       2.08       2.09       1.63       1.30
 9        2.17       1.98       1.88       1.81       1.57       1.43
 10       5.03       4.48       3.96       3.46       3.06       2.76
 11       5.82       5.56       5.19       4.74       4.50       4.40
 12       5.27       4.80       4.40       4.09       3.74       3.44
 13       6.50       6.65       6.73       6.76       6.67       6.52
 14       6.52       6.18       5.74       5.11       4.21       3.47
 15       2.02       1.77       1.79       1.88       2.00       1.95
 16       2.06       1.80       1.80       1.85       1.80       1.70
 17       3.21       2.73       2.60       2.51       2.49       2.46
 18       5.74       5.23       4.79       4.37       3.96       3.55
 19       4.60       4.24       3.80       3.30       2.92       2.64
 20       5.48       4.81       4.20       3.58       3.11       2.69
 21       5.60       5.19       4.75       4.15       3.50       3.09
 22       5.67       5.31       5.03       4.57       4.04       3.61
 23       2.56       2.24       1.83       1.56       1.42       1.34
 24       6.77       6.78       6.70       6.49       6.16       5.90
 25       6.87       6.67       6.41       6.16       5.95       5.75
 26       5.00       4.51       4.03       3.60       3.23       3.02
 27       1.62       1.57       1.49       1.52       1.59       1.64

     2000–2005  2005–2010  2010–2015
 0        5.08       4.89       4.72
 1        2.41       2.30       2.20
 2        1.80       1.99       1.91
 3        2.49       2.38       2.28
 4        2.80       2.54       2.38
 5        2.51       2.66       2.71
 6        5.76       5.35       4.89
 7        1.52       1.56       1.59
 8        1.26       1.42       1.57
 9        1.43       1.55       1.60
 10       2.48       2.26       2.14
 11       4.16       3.93       3.67
 12       3.15       3.05       3.00
 13       6.39       6.24       5.94
 14       3.15       3.09       3.31
 15       1.99       2.01       1.85
 16       1.66       1.85       1.85
 17       2.44       2.53       2.41
 18       3.32       3.17       2.97
 19       2.35       2.13       2.03
 20       2.53       2.42       2.35
 21       2.85       2.71       2.64
 22       3.19       2.85       2.54
 23       1.37       1.44       1.42
 24       5.65       5.40       5.10
 25       5.53       5.20       4.88
 26       2.90       2.74       2.61
 27       1.67       1.69       1.71  ,
    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of countries by population statistics  \
 0                                              Global
 1                               Continents/subregions
 2                                    Intercontinental
 3                                  Cities/urban areas
 4                                     Past and future
 5                                  Population density
 6                                   Growth indicators
 7                                  Other demographics
 8                                              Health
 9                            Education and innovation
 10                                           Economic
 11    List of international rankings Lists by country

    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteLists of countries by population statistics.1
 0        Current population Demographics of the world
 1   Africa Antarctica Asia Europe North America Ca...
 2   Americas Arab world Commonwealth of Nations Eu...
 3   World cities National capitals Megacities Mega...
 4   Past and future population World population es...
 5   Current density Past and future population den...
 6   Population growth rate Natural increase Birth ...
 7   Age at first marriage Age structure Dependency...
 8   Antidepressant consumption Antiviral medicatio...
 9   Bloomberg Innovation Index Education Index Int...
 10  Access to financial services Development aid g...

In [22]:
type(df[1])

pandas.core.frame.DataFrame

Si se encuentra más de una tabla (como en el caso del ejemplo), podemos hacer referencia al primero a través del índice:

In [ ]:
df[2]

Podemos hacer un poco de limpieza y dejar los datos presentables:

In [ ]:
# Guardamos el dataframe
fertility_rate = df[2]

fertility_rate.head()

In [ ]:
# Renombramos la primera columna para que sea más fácil consultarla
fertility_rate.rename(columns = {'Country/dependent territory':'Country'}, inplace=True)

fertility_rate

Ahora podemos realizar consultas cómodamente:

In [ ]:
# Índice de natalidad por país entre los años 2010-2015
fertility_rate[["Country", "2010–2015"]]

In [ ]:
# Misma consulta aplicando el styler para esconder la primera columna
fertility_rate[["Country", "2010–2015"]].head().style.hide(axis=0)

In [ ]:
# Índice de natalidad por país entre los años 1985–1990 ordenado de más a menos (primeros resultados)
fertility_rate[["Country", "1985–1990"]].sort_values(by="1985–1990", ascending=False).head().style.hide(axis=0)

In [ ]:
# Índice de natalidad por país entre los años 1985–1990 ordenado de más o menos (últimos resultados)
fertility_rate[["Country", "1985–1990"]].sort_values(by="1985–1990", ascending=False).tail().style.hide(axis=0)

In [ ]:
# Vamos a transformar todas las columnas desde la segunda hasta la última a valores númericos
fertility_rate = fertility_rate[1:][:].apply(pd.to_numeric, errors='coerce')

In [ ]:
# Ahora podemos consultar la media del índice de natalidad para cada año
fertility_rate.mean()[1:]

Con `Matplotlib`, que aprenderemos en la próxima sección, podemos graficar estos resultados fácilmente:

In [ ]:
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = 10,5

fertility_rate.mean()[1:].plot(kind='line', xlabel="Períodos", ylabel="Media de natalidad mundial")

La práctica hace el maestro, os animo a hacer vuestras propias pruebas y googlear cualquier cosa que se os ocurra para aprender mucho más.