# La clase Series

El tipo de dato esencial de `Pandas` son las `Series`, una clase muy similar a los `array` de `Numpy` (de hecho están construidas sobre ellos), la diferencia es que las `Series` pueden contener etiquetas en los ejes:

In [1]:
import numpy as np
import pandas as pd

## Creación
Podemos crear `Series` a partir de una lista, array o diccionario:

### Con listas

In [2]:
etiquetas = ['A', 'B', 'C', 'D']
etiquetas

['A', 'B', 'C', 'D']

In [3]:
lista = [25, 50, 75, 100]

lista

[25, 50, 75, 100]

In [4]:
# cast con otro tipo de datos
str(lista)

'[25, 50, 75, 100]'

In [5]:
tuple(lista)

(25, 50, 75, 100)

In [6]:
# serie básica
#pd.Series(lista)
pd.Series(lista)

0     25
1     50
2     75
3    100
dtype: int64

In [8]:
# serie con etiquetas
pd.Series(data=lista, index=etiquetas)

A     25
B     50
C     75
D    100
dtype: int64

In [9]:
# parámetros por posición
pd.Series(lista, etiquetas)

A     25
B     50
C     75
D    100
dtype: int64

### Con arrays

In [10]:
array = np.random.randint(50, size=4)

array

array([31, 47,  1,  2])

In [11]:
# serie básica
pd.Series(array)

0    31
1    47
2     1
3     2
dtype: int32

In [12]:
# serie con etiquetas
pd.Series(array, etiquetas)

A    31
B    47
C     1
D     2
dtype: int32

### Con diccionarios

La clave del diccionario actúa como etiqueta para el valor:

In [13]:
diccionario = {'etiqueta1':25, 'etiqueta2':50, 'etiqueta2':75, 'etiqueta4':100}
diccionario

{'etiqueta1': 25, 'etiqueta2': 75, 'etiqueta4': 100}

In [14]:
# serie con etiquetas
pd.Series(diccionario)

etiqueta1     25
etiqueta2     75
etiqueta4    100
dtype: int64

## Índices

Las etiquetas ofrecen una alternativa a los índices numéricos para acceder a la información de forma cómoda:

In [16]:
lista = [100,300,200]
lista

[100, 300, 200]

In [17]:
lista[1]

300

In [15]:
ingresos = pd.Series([100,300,200], index = ['enero', 'febrero', 'marzo'])

ingresos

enero      100
febrero    300
marzo      200
dtype: int64

In [18]:
# acceso por nombre
ingresos['febrero']

300

In [19]:
# aceso por número
ingresos[1]

300

## Métodos

Las `Series` tienen diferentes métodos, como `add` y `subtract` para sumar y restar series utilizando los índices:

In [20]:
gastos = pd.Series([100,150,250], index = ['enero', 'febrero', 'marzo'])

gastos

enero      100
febrero    150
marzo      250
dtype: int64

In [21]:
ingresos

enero      100
febrero    300
marzo      200
dtype: int64

In [22]:
total = ingresos.subtract(gastos)

total

enero        0
febrero    150
marzo      -50
dtype: int64

Ambos métodos se encuentran mapeados en los operadores aritméticos, siendo esto equivalente:

In [24]:
ingresos - gastos

enero        0
febrero    150
marzo      -50
dtype: int64

In [27]:
ingresos + gastos

enero      200
febrero    450
marzo      450
dtype: int64

## Tipo de una Serie

In [28]:
type(total)

pandas.core.series.Series

Para más información sobre la clase `Series` podéis consultar la [documentación oficial](https://pandas.pydata.org/docs/reference/api/pandas.Series.html).

In [29]:
type(3.5)

float